version: '2'

services:
  influxdb:
    restart: always
    image: influxdb:1.8
    ports:
      - "8086:8086"
    volumes:
      - "./data/influxdb/:/var/lib/influxdb"
    environment:
      - "INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER:-admin}"
      - "INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD:-password}"
      - "INFLUXDB_DB=${INFLUXDB_DB:-speedtest}"

  grafana:
    restart: always
    image: grafana/grafana:6.7.2
    volumes:
      - "./grafana/provisioning:/etc/grafana/provisioning"
    ports:
      - "3000:3000"
    environment:
      - "GF_SERVER_ROOT_URL=${GF_SERVER_ROOT_URL:-http://localhost}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}"
      - "GF_AUTH_ANONYMOUS_ENABLED=${GF_AUTH_ANONYMOUS_ENABLED:-false}"  #true
    depends_on:
      - influxdb

  speedtest:
    restart: always
    image: frdmn/speedtest-grafana:latest
    container_name: speedtest
    environment:
      - "SPEEDTEST_INTERVAL=${SPEEDTEST_SPEEDTEST_INTERVAL:-3600}"
      - "SPEEDTEST_HOST=${SPEEDTEST_HOST:-local}"
    depends_on:
      - influxdb
